<!-- ====================================================================== -->
<!-- ======================= PRJ01: HERO ================================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: CSS LAZY LOAD BG IMAGES
@ISSUE: CSS FILE SEPARATE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
    <header class="tlg-c-hero" :class="classObject">
        <h1 class="tlg-content-wrapper">{{ title }}</h1>
    </header>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
// ===== IMPORT COMPONENTS ======================

export default {
    name: 'Prj01Hero',
    props: {
        title: {
            type: String,
            default: null
        }
    },
    data() {
        return {
            pageLoaded: false
        }
    },
    mounted() {
        window.addEventListener('load', () => {
            this.handlePageLoad()
        })
    },
    destroyed() {
        window.addEventListener('load', () => {
            this.handlePageLoad()
        })
    },
    computed: {
        classObject() {
            return {
                'tlg-page-loaded': this.pageLoaded
            }
        }
    },
    methods: {
        /**
         * Handle page load
         * Set pageLoaded data to true on pange load
         */
        handlePageLoad() {
            console.log('loaded')
            this.pageLoaded = true
        }
    }
}
</script>

<!-- ======================================================= -->
<!-- ======== SCSS ========================================= -->
<style lang="scss" scoped>
@import './style';
</style>
