// ==================================================================
// ==================== PRJ06: TRANSITION ===========================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: PRELOAD IMAGES LOADED AFTER PAGE LOAD

*/

// =========================================================
// ====== VARIABLES ========================================

// =========================================================
// ====== GENERAL ==========================================

.tlg-c-hero {
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 300px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: $tlg-base-colour-dark;
    background-image: url('~@/assets/img/iceland/thumb/medium/86.jpg');
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: $tlg-global-blur;
  }

  &.tlg-page-loaded {
    &::before {
      background-image: url('~@/assets/img/iceland/full/small/86.jpg');
      transition: 1500ms filter linear;
      filter: blur(0);

      // =============================================================== //
      // ========== RESPONSIVE (PHABLET - LAPTOP) ======================= //
      @include mx-media-query(phablet) {
        background-image: url('~@/assets/img/iceland/full/medium/86.jpg');
      }

      // =============================================================== //
      // ========== RESPONSIVE (LAPTOP - UP) ========================= //
      @include mx-media-query(laptop) {
        background-image: url('~@/assets/img/iceland/full/large/86.jpg');
      }
    }
  }

  h1 {
    display: flex;
    justify-content: center;
    position: sticky; // at least position relative to have the text over the blur effect
    top: 0;
    padding-top: 20px;
    font-family: $tlg-font-decorative;
    text-transform: uppercase;
    mix-blend-mode: screen;
  }
}
