// ========================================================================= //
// ========================= GENERAL VARIABLES ============================= //
// ========================================================================= //

// =============================================================== //
// ========== DIMENSIONS ========================================= //
$tlg-base-content-min-with:                 320px !default;

$tlg-base-content-padding-x:                15px !default;
$tlg-base-content-padding-x-desktop:        20px !default;

$tlg-base-block-margin:                     15px !default;
$tlg-base-block-margin-desktop:             20px !default;

$tlg-base-block-padding:                    15px !default;
$tlg-base-block-padding-desktop:            20px !default;

$tlg-base-main-margin-y:                    30px !default;
$tlg-base-main-margin-y-desktop:            40px !default;

$tlg-base-main-logo-max-width:            	240px !default;

$tlg-base-border-radius:					5px;

// =============================================================== //
// ========== Z-INDEX ============================================ //
$zindex: (
  transition   	: 9099,
  modal     	: 9000,
  navigation	: 8000,
  dropdown  	: 7000,
  header    	: 6000,
  footer    	: 5000,
  overPseudo	: 9
);

// =============================================================== //
// ========== RESPONSIVITY ======================================= //
$tlg-breakpoint-inclusion:                  0.1px;

$tlg-breakpoint-phone:                      414px !default;
$tlg-breakpoint-phablet:                    580px !default;
$tlg-breakpoint-tablet:                     768px !default;
$tlg-breakpoint-laptop:                     1230px !default;

$tlg-break-double:                          1920px; // for 2x images
$tlg-break-band:                            1800px; // for band not being full width

$tlg-main-breakpoints: (
  phone:                                    $tlg-breakpoint-phone,
  phablet:                                  $tlg-breakpoint-phablet,
  tablet:                                   $tlg-breakpoint-tablet,
  laptop:                                   $tlg-breakpoint-laptop,
  band:										$tlg-break-band
);

$tlg-base-scale-minor-second:               1.067;
$tlg-base-scale-major-second:               1.125;
$tlg-base-scale-minor-third:                1.200;
$tlg-base-scale-major-third:                1.250;
$tlg-base-scale-perfect-fourth:             1.333;
$tlg-base-scale-augmented-forth:            1.414;
$tlg-base-scale-perfect-fifth:              1.500;
$tlg-base-scale-golden-ration:              1.618;

// =============================================================== //
// ========== TYPOGRAPHY ========================================= //
@import url('https://fonts.googleapis.com/css?family=Limelight|Nunito:300,400,700|Source+Code+Pro');

$tlg-font-decorative:                       'Limelight', 'Verdana', cursive;
$tlg-main-font:                             'Nunito', sans-serif;
$tlg-mono-font:                             'Source Code Pro', monospace;

$tlg-small-font-size:                       0.8rem;
$tlg-base-font-size:                        1rem;
$tlg-large-font-size:                       1.2rem;

$tlg-small-font-size-desktop:               0.9rem;
$tlg-base-font-size-desktop:                1.1rem;
$tlg-large-font-size-desktop:               1.3rem;

$tlg-base-line-height:                      $tlg-base-scale-minor-third;

$tlg-light-font-weight:                     300;
$tlg-base-font-weight:                      normal;
$tlg-bold-font-weight:                      700;

$tlg-base-heading-font-scale:               $tlg-base-scale-minor-third;

$tlg-base-font-size-h6:                     $tlg-base-font-size;
$tlg-base-font-size-h6-desktop:             $tlg-base-font-size-desktop;
$tlg-base-font-size-h5:                     $tlg-base-font-size-h6 * $tlg-base-heading-font-scale;
$tlg-base-font-size-h5-desktop:             $tlg-base-font-size-h6-desktop * $tlg-base-heading-font-scale;
$tlg-base-font-size-h4:                     $tlg-base-font-size-h5 * $tlg-base-heading-font-scale;
$tlg-base-font-size-h4-desktop:             $tlg-base-font-size-h5-desktop * $tlg-base-heading-font-scale;
$tlg-base-font-size-h3:                     $tlg-base-font-size-h4 * $tlg-base-heading-font-scale;
$tlg-base-font-size-h3-desktop:             $tlg-base-font-size-h4-desktop * $tlg-base-heading-font-scale;
$tlg-base-font-size-h2:                     $tlg-base-font-size-h3 * $tlg-base-heading-font-scale;
$tlg-base-font-size-h2-desktop:             $tlg-base-font-size-h3-desktop * $tlg-base-heading-font-scale;
$tlg-base-font-size-h1:                     $tlg-base-font-size-h2 * $tlg-base-heading-font-scale;
$tlg-base-font-size-h1-desktop:             $tlg-base-font-size-h2-desktop * $tlg-base-heading-font-scale;

// =============================================================== //
// ========== TABLE ============================================== //
$tlg-base-table-border-size:				1px;

// =============================================================== //
// ========== FORMS ============================================== //
$tlg-base-input-height:                    32px;
$tlg-base-input-padding-y:                 2px;
$tlg-base-input-padding-x:                 4px;

// =============================================================== //
// ========== VISUALS ============================================ //
$tlg-global-blur: blur(4px);






