<!-- ====================================================================== -->
<!-- ======================= PRJ06: TRANSITION ============================ -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL:
@ISSUE: Configurable styles!

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
    <div class="tlg-c-transition" :class="classObject">
        <span :style="cssVars1"></span>
        <span :style="cssVars2"></span>
        <span :style="cssVars3"></span>
    </div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
// ===== IMPORT =================================

// ===== EXPORT =================================
export default {
    name: 'Prj06Transition',
    props: {
        duration: {
            default: 1,
            type: Number
        },
        name: {
            default: 'left-to-right',
            type: String
        },
        background1: {
            default: '#557a95',
            type: String
        },
        background2: {
            default: '#f5f5f5',
            type: String
        }
    },

    computed: {
        classObject() {
            return {
                'tlg-show-logo': this.name !== 'left-to-right'
            }
        },
        cssVars1() {
            return {
                '--anim-duration': `${this.duration}s`,
                '--anim-name-1': `${this.name}1`,
                '--bg-col-1': this.background1
            }
        },
        cssVars2() {
            return {
                '--anim-duration': `${this.duration}s`,
                '--anim-name-2': `${this.name}2`,
                '--bg-col-2': this.background2
            }
        },
        cssVars3() {
            return {
                '--anim-duration': `${this.duration}s`,
                '--anim-name-3': `${this.name}3`,
                '--bg-col-3': this.background1
            }
        }
    }
}
</script>

<style lang="scss">
.tlg-c-transition {
    position: fixed;
    z-index: map-get($zindex, transition);
    background: transparent;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    span {
        position: absolute;
        z-index: map-get($zindex, transition);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        animation-duration: var(--anim-duration);
        animation-fill-mode: forwards;

        &:nth-child(1) {
            background: var(--bg-col-1);
            animation-name: var(--anim-name-1);
        }

        &:nth-child(2) {
            background-color: var(--bg-col-2);
            animation-name: var(--anim-name-2);
        }

        &:nth-child(3) {
            background: var(--bg-col-3);
            animation-name: var(--anim-name-3);
        }
    }

    &.tlg-show-logo {
        span:nth-child(2) {
            background-image: url('~@/assets/theme/logos/leaf.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 300px auto;
        }
    }
}

@keyframes left-to-right1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes left-to-right2 {
    0% {
        transform: translateX(-100%);
    }
    10% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes left-to-right3 {
    0% {
        transform: translateX(-100%);
    }
    20% {
        transform: translateX(-100%);
    }
    65%,
    70% {
        /*to stay a while full width*/
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes right-to-left1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes right-to-left2 {
    0% {
        transform: translateX(100%);
    }
    20% {
        transform: translateX(100%);
    }
    40%,
    50% {
        /*to stay a while full width*/
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes right-to-left3 {
    0% {
        transform: translateX(100%);
    }
    40% {
        /*to stay a while full width*/
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
</style>
