<!-- ====================================================================== -->
<!-- ======================= GEN05: MASONRY =============================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: LAZY LOAD AND MASONRY CLASH
@ISSUE: IMPLEMENT LAZY LOAD
@ISSUE: IMPLEMENT MASONRY
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: IMPLEMENT RESPONSIVITY

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
    <section class="tlg-component tlg-c-masonry" :class="classObject">
        <Prj06Transition
            v-if="transition"
            :name="transitionName"
            :duration="transitionDuration"
        />
        <Gen06LightGallery
            :images="photos"
            :index="index"
            :disable-scroll="true"
            @close="handleCloseLightGallery"
        />

        <ul class="tlg-masonry-ul">
            <li
                class="tlg-masonry-li"
                :class="{'tlg-loaded': thumbsLoaded}"
                v-for="(thumb, thumbIndex) in thumbs"
                :key="thumbIndex"
                tabindex="0"
                @click="handleThumbClick(thumbIndex)"
            >
                <img
                    class="tlg-masonry-img"
                    :class="{'tlg-lazy': !thumbsLoaded}"
                    :src="thumb.lazy"
                    :data-src="thumb.dataSrc"
                    :data-srcset="thumb.dataSrcSet"
                    alt="alt"
                />
            </li>
        </ul>
    </section>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
// ===== IMPORT COMPONENTS ======================
import Gen06LightGallery from '../GEN06_LightBox/light-box'
import Prj06Transition from '../../project/PRJ06_Transition/transition'

// ===== CONST ==================================
const TRANSITON_OPEN = 'left-to-right'
const TRANSITON_CLOSE = 'right-to-left'

// ===== EXPORT =================================
export default {
    name: 'Gen05Masonry',
    components: {
        Gen06LightGallery,
        Prj06Transition
    },
    props: {
        thumbs: {
            default: () => [],
            type: Array
        },
        alt: {
            default: '',
            type: String
        },
        photos: {
            default: () => [],
            type: Array
        }
    },
    data() {
        return {
            // light gallery
            index: null,
            transition: false,
            transitionName: TRANSITON_OPEN,
            transitionDuration: 1,
            thumbsLoaded: false
        }
    },
    mounted() {
        /**
         * Initiate lazy loading
         */
        this.callLazyLoad()
    },
    computed: {
        classObject() {
            return {
                'tlg-transition-show': this.transition
            }
        },

        /**
         * Lazy Load Images
         */
        lazyLoadImages() {
            return [].slice.call(document.querySelectorAll('img.tlg-lazy'))
        }
    },
    methods: {
        /**
         * Call Intersaction observer
         *
         * @condition DOM is loaded, lazy img Array is created
         * @param {Array} lazyLoadImages
         */
        callLazyLoad() {
            if (this.lazyLoadImages.length)
                this.callObserver(this.lazyLoadImages)
        },

        /**
         * Intersection observer
         *
         * @param {Array} lazyImages
         * TODO polyfil
         */
        callObserver(lazyImages) {
            if ('IntersectionObserver' in window) {
                const lazyImageObserver = new IntersectionObserver(entries => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            const lazyImage = entry.target
                            lazyImage.src = lazyImage.dataset.src
                            lazyImage.srcset = lazyImage.dataset.srcset
                            this.handleLazyLoad()
                            lazyImageObserver.unobserve(lazyImage)
                        }
                    })
                })

                lazyImages.forEach(lazyImage => {
                    lazyImageObserver.observe(lazyImage)
                })
            }
        },

        /**
         * Calculate transition duration in ms
         *
         * @param {Number} seconds
         */
        calcTransitionDuration(seconds) {
            return seconds * 1000
        },

        /**
         * Allow time for the transition to cover screen before calling lightbox
         * Lightbox needs to be called after the transition is half way
         *
         * @param thumbIndex {Number}
         */
        handleThumbClick(thumbIndex) {
            this.transition = true
            const duration = this.calcTransitionDuration(
                this.transitionDuration
            )

            setTimeout(() => (this.index = thumbIndex), duration / 2)
            setTimeout(() => (this.transition = false), duration)
        },

        /**
         * Allow time for the transition to cover screen before closing lightbox
         */
        handleCloseLightGallery() {
            this.transitionName = TRANSITON_CLOSE
            this.transition = true
            const duration = this.calcTransitionDuration(
                this.transitionDuration
            )

            setTimeout(() => (this.index = null), duration / 2)
            setTimeout(() => {
                this.transition = false
                this.transitionName = TRANSITON_OPEN
            }, duration)
        },

        /**
         * Set thumbsLoaded data to true
         */
        handleLazyLoad() {
            this.thumbsLoaded = true
        }
    }
}
</script>

<!-- ======================================================= -->
<!-- ======== SCSS ========================================= -->
<style lang="scss" scoped>
@import './style';
</style>
