// ==================================================================
// ==================== GEN05: MASONRY ==============================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: MEDIA QUERIES AND IMAGE SIZES
@ISSUE: TAB FOCUS STYLE
@ISSUE: FADE OUT THE BLUR

*/

// =========================================================
// ====== VARIABLES ========================================
$tlg-masonry-item-padding: 5px;
$tlg-masonry-img-height: 61vw;
$tlg-masonry-img-height-phone: 29vw;
$tlg-masonry-img-height-phablet: 30vw;
$tlg-masonry-img-height-tablet: 20vw;
$tlg-masonry-img-height-laptop: 15vw;
$tlg-masonry-img-height-band: 231px;

// =========================================================
// ====== GENERAL ==========================================
.tlg-c-masonry {
    .tlg-masonry-ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + #{$tlg-masonry-item-padding});
        list-style: none;
    }

    .tlg-masonry-li {
        flex-grow: 1;
        margin: 0;
        padding: 0 $tlg-masonry-item-padding $tlg-masonry-item-padding 0;
        max-width: 500px;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          // add effect on hover
        }

        &:focus {
            // add focus styles
        }

        &.tlg-loaded {
            .tlg-masonry-img {
                transition: 1500ms filter linear;
                filter: blur(0);
            }
        }
    }

    .tlg-masonry-img {
        position: relative;
        display: block;
        min-width: 100%;
        height: $tlg-masonry-img-height;
        object-fit: cover;
        filter: $tlg-global-blur;
    }

    // =============================================================== //
    // ========== RESPONSIVE (PHONE - PHABLET) ======================= //
    @include mx-media-query(phone) {
        .tlg-masonry-img {
            height: $tlg-masonry-img-height-phone;
        }
    }

    // =============================================================== //
    // ========== RESPONSIVE (PHABLET - TABLET) ====================== //
    @include mx-media-query(phablet) {
        .tlg-masonry-img {
            height: $tlg-masonry-img-height-phablet;
        }
    }

    // =============================================================== //
    // ========== RESPONSIVE (TABLET - LAPTOP) ========================= //
    @include mx-media-query(tablet) {
        .tlg-masonry-img {
            height: $tlg-masonry-img-height-tablet;
        }
    }

    // =============================================================== //
    // ========== RESPONSIVE (LAPTOP - BAND) ========================= //
    @include mx-media-query(laptop) {
        .tlg-masonry-img {
            height: $tlg-masonry-img-height-laptop;
        }
    }

    // =============================================================== //
    // ========== RESPONSIVE (BAND - 100%) ========================= //
    @include mx-media-query(band) {
        .tlg-masonry-img {
            height: $tlg-masonry-img-height-band;
        }
    }
}
