<!-- ====================================================================== -->
<!-- ======================= APP ========================================== -->
<!-- ====================================================================== -->

<!--

@LABEL: NEEDS WORK
@ISSUE: LAZY LOAD HERO BG IMAGE
@ISSUE: SMOOTH TRANSITION FROM LAZY LOAD IMG TO THUMB
@ISSUE: SEO
@IDEA: INTERSECTION OBSERVER ANIMATE APPEARANCE OF THUMBS

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
    <div id="app">
        <Prj01Hero :title="title" />

        <Gen05Masonry
            class="tlg-content-wrapper"
            :thumbs="thumbsArray"
            :photos="photosArray"
        />
    </div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
// ===== IMPORT COMPONENTS ======================
import Prj01Hero from './components/project/PRJ01_Hero/hero'
import Gen05Masonry from './components/general/GEN05_Masonry/masonry'

// ===== CONSTANTST =============================
const DATA_OBJECT = {
    title: 'Iceland Road Trip',
    coverImage: 'iceland',
    photoStreamView: 'iceland',
    photoStreamType: 'albums',
    images: 86
}

export default {
    name: 'app',
    components: {
        Prj01Hero,
        Gen05Masonry
    },
    data() {
        return {
            icelandData: DATA_OBJECT,
            title: DATA_OBJECT.title,
            imgPhotoPartialPath: './assets/img/iceland',
            imgNum: DATA_OBJECT.images,
            window: {
                width: 0,
                height: 0
            },
            loading: false
        }
    },
    created() {
        window.addEventListener('resize', this.handleResize)
        this.handleResize()
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },
    computed: {
        /**
         * Thumbs array
         *
         *  @return thumbs {Array}
         */
        thumbsArray() {
            const thumbs = []

            for (let i = 0; i < this.imgNum; i++) {
                thumbs.push({
                    lazy: this.getLazy(i),
                    src: this.getImgSrc(i),
                    dataSrc: this.getImgSrc(i),
                    dataSrcSet: this.getDataSrcSet(i)
                })
            }

            return thumbs
        },

        /**
         * Photos array
         *
         * @return photos {Array}
         */
        photosArray() {
            const photos = []
            const size = this.photoSize

            for (let i = 0; i < this.imgNum; i++) {
                photos.push(
                    require(`${this.imgPhotoPartialPath}/full/${size}/${i +
                        1}.jpg`)
                )
            }

            return photos
        },

        /**
         * Size of full sized images based on vieport width
         *
         * @return size {String}
         */
        photoSize() {
            const small = 720
            const medium = 1920
            let size = 'large'

            if (this.window.width < small) {
                size = 'small'
            } else if (this.window.width >= medium) {
                size = 'large'
            } else {
                size = 'medium'
            }

            return size
        }
    },
    methods: {
        /**
         * Thumb lazy load placeholder
         *
         */
        getLazy(i) {
            return require(`${this.imgPhotoPartialPath}/thumb/lazy/${i +
                1}.jpg`)
        },

        /**
         * Thumb URL fallback in case lazy load fails
         *
         */
        getImgSrc(i) {
            return require(`${this.imgPhotoPartialPath}/thumb/medium/${i +
                1}.jpg`)
        },

        /**
         * Thumb source set
         *
         */
        getDataSrcSet(i) {
            const dpi2x = ' 2x, '
            const dpi1x = ' 1x'
            return (
                require(`${this.imgPhotoPartialPath}/thumb/@2x/${i + 1}.jpg`) +
                dpi2x +
                require(`${this.imgPhotoPartialPath}/thumb/medium/${i +
                    1}.jpg`) +
                dpi1x
            )
        },

        /**
         * On resize check the viewport dimensions
         *
         */
        handleResize() {
            this.window.width = window.innerWidth
            this.window.height = window.innerHeight
        }
    }
}
</script>

<style lang="scss"></style>
