<!-- ====================================================================== -->
<!-- ======================= GEN06: LIGHT BOX ============================= -->
<!-- ====================================================================== -->
<!--

@LABEL: NEEDS WORK
@LABEL: FIXME SCROLL BAR VERTICAL CAUSES NASTY JUMPS WHEN VIEWING IMAGES
@ISSUE: TODO STYLING INTO THEME
@ISSUE: IMPLEMENT FULLSCREEN
@ISSUE: IMPLEMENT SHARE
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: ADD MAIN -C- CLASS
@ISSUE: CONTRIBUTE
@ISSUE: PROVIDE CREDENTIALS
@SOURCE: https://github.com/peremp/vue-light-gallery/blob/master/src/light-gallery.vue

-->

<template>
    <div
        v-if="typeof index === 'number'"
        class="tlg-c-lightbox"
        @touchstart="touchstartHandler"
        @touchmove="touchmoveHandler"
        @touchend="touchendHandler"
    >
        <div class="tlg-lightbox-overlay">
            <div :class="['tlg-lightbox-loader', !isImageLoaded || 'hide']">
                <div class="tlg-loader">
                    <img src="~@/assets/theme/logos/leaf.svg" alt="Site logo" />
                </div>
            </div>
            <div class="tlg-lightbox-container">
                <ul class="tlg-lightbox-ul">
                    <li
                        v-for="(image, imageIndex) in formattedImages"
                        :key="imageIndex"
                        :style="
                            `transform: translate3d(${currentIndex *
                                -100}%, 0px, 0px);`
                        "
                        class="tlg-lightbox-li"
                    >
                        <div class="tlg-lightbox-img-wrapper">
                            <div
                                v-show="image.title && isImageLoaded"
                                class="tlg-lightbox-img-title"
                            >
                                {{ image.title }}
                            </div>
                            <img
                                :ref="`lg-img-${imageIndex}`"
                                :src="
                                    shouldPreload(imageIndex)
                                        ? image.url
                                        : false
                                "
                                @load="imageLoaded($event, imageIndex)"
                            />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tlg-lightbox-button">
                <button
                    v-if="currentIndex > 0"
                    class="tlg-lightbox-prev"
                    @click="prev()"
                >
                    <span>Previous</span>
                </button>
            </div>
            <div class="tlg-lightbox-button">
                <button
                    v-if="currentIndex + 1 < images.length"
                    class="tlg-lightbox-next"
                    @click="next()"
                >
                    <span>Next</span>
                </button>
            </div>
            <button class="tlg-lightbox-close" @click="close()">
                <span>Close</span>
            </button>
        </div>
    </div>
</template>

<script>
const keyMap = {
    LEFT: 37,
    RIGHT: 39,
    ESC: 27
}
export default {
    props: {
        images: {
            type: Array,
            default: () => []
        },
        index: {
            type: Number,
            default: 1
        },
        disableScroll: {
            type: Boolean,
            default: false
        },
        bgColor: {
            type: String,
            default: 'rgba(245,245,245, 0.8)'
        },
        interfaceColor: {
            type: String,
            default: 'rgba(255, 255, 255, 0.8)'
        }
    },
    data() {
        return {
            currentIndex: this.index,
            isImageLoaded: false,
            bodyOverflowStyle: '',
            scrollBarWidth: '',
            touch: {
                count: 0,
                x: 0,
                y: 0,
                multitouch: false,
                flag: false
            }
        }
    },
    computed: {
        formattedImages() {
            return this.images.map(image =>
                typeof image === 'string' ? { url: image } : image
            )
        }
    },
    watch: {
        index(val) {
            if (!document) {
                return
            }
            this.currentIndex = val
            if (this.disableScroll && typeof val === 'number') {
                document.body.style.overflow = 'hidden'
                document.body.style.paddingRight = this.scrollBarWidth
            } else if (this.disableScroll && !val) {
                document.body.style.overflow = this.bodyOverflowStyle
                document.body.style.paddingRight = '0'
            }
        },
        currentIndex(val) {
            this.setImageLoaded(val)
        }
    },
    mounted() {
        if (!document) {
            return
        }
        this.bodyOverflowStyle = document.body.style.overflow
        this.bindEvents()
        window.addEventListener('resize', () => {
            this.scrollBarWidth = `${window.innerWidth -
                document.documentElement.clientWidth}px`
        })
        // also initial
    },
    beforeDestroy() {
        if (!document) {
            return
        }
        if (this.disableScroll) {
            document.body.style.overflow = this.bodyOverflowStyle
        }
        this.unbindEvents()
        // remove resize
    },
    methods: {
        close() {
            this.$emit('close')
        },
        prev() {
            if (this.currentIndex === 0) {
                return
            }
            this.currentIndex -= 1
            this.$emit('slide', { index: this.currentIndex })
        },
        next() {
            if (this.currentIndex === this.images.length - 1) {
                return
            }
            this.currentIndex += 1
            this.$emit('slide', { index: this.currentIndex })
        },
        imageLoaded($event, imageIndex) {
            const { target } = $event
            target.classList.add('tlg-loaded')
            if (imageIndex === this.currentIndex) {
                this.setImageLoaded(imageIndex)
            }
        },
        getImageElByIndex(index) {
            const elements = this.$refs[`lg-img-${index}`] || []
            return elements[0]
        },
        setImageLoaded(index) {
            const el = this.getImageElByIndex(index)
            this.isImageLoaded = !el
                ? false
                : el.classList.contains('tlg-loaded')
        },
        shouldPreload(index) {
            const el = this.getImageElByIndex(index) || {}
            const { src } = el
            return (
                !!src ||
                index === this.currentIndex ||
                index === this.currentIndex - 1 ||
                index === this.currentIndex + 1
            )
        },
        bindEvents() {
            document.addEventListener('keydown', this.keyDownHandler, false)
        },
        unbindEvents() {
            document.removeEventListener('keydown', this.keyDownHandler, false)
        },
        touchstartHandler(event) {
            this.touch.count += 1
            if (this.touch.count > 1) {
                this.touch.multitouch = true
            }
            this.touch.x = event.changedTouches[0].pageX
            this.touch.y = event.changedTouches[0].pageY
        },
        touchmoveHandler(event) {
            if (this.touch.flag || this.touch.multitouch) {
                return
            }
            const touchEvent = event.touches[0] || event.changedTouches[0]
            if (touchEvent.pageX - this.touch.x > 40) {
                this.touch.flag = true
                this.prev()
            } else if (touchEvent.pageX - this.touch.x < -40) {
                this.touch.flag = true
                this.next()
            }
        },
        touchendHandler() {
            this.touch.count -= 1
            if (this.touch.count <= 0) {
                this.touch.multitouch = false
            }
            this.touch.flag = false
        },
        keyDownHandler(event) {
            switch (event.keyCode) {
                case keyMap.LEFT:
                    this.prev()
                    break
                case keyMap.RIGHT:
                    this.next()
                    break
                case keyMap.ESC:
                    this.close()
                    break
                default:
                    break
            }
        }
    }
}
</script>

<!-- ======================================================= -->
<!-- ======== SCSS ========================================= -->
<style lang="scss" scoped>
@import './style';
</style>
