// ==================================================================
// ==================== GEN06: LIGHT BOX ============================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE:

*/

// =========================================================
// ====== VARIABLES ========================================
$overlay-bg-color: rgba($tlg-base-colour-light, 0.8);

// =========================================================
// ====== GENERAL ==========================================

.tlg-c-lightbox {
    .tlg-lightbox-overlay {
        position: fixed;
        display: block;
        z-index: map-get($zindex, modal);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay-bg-color;
        overflow: hidden;
    }

    .tlg-lightbox-container {
        position: absolute;
        z-index: map-get($zindex, modal);
        display: block;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // centering images
        text-align: center;
    }

    .tlg-lightbox-ul {
        height: 100%;
        width: 100%;
        white-space: nowrap;
        padding: 0;
        margin: 0;
    }

    .tlg-lightbox-li {
        display: inline-table;
        vertical-align: middle;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: left 1s ease, transform 1s ease,
            // browsing images transitions
                -webkit-transform 1s ease; // browsing images
    }

    .tlg-lightbox-img-wrapper {
        & {
            display: inline-block;
            position: relative;
            max-width: 100%;
            max-height: 100vh;
            margin: 0 auto;
            border: 10px solid transparent;
        }

        & img {
            & {
                max-width: 100%;
                max-height: 100vh;
                opacity: 0;
                transition: opacity 0.2s;
                border: 10px solid transparent;
            }

            &.tlg-loaded {
                opacity: 1;
            }
        }
    }

    .tlg-lightbox-img-title {
        position: absolute;
        z-index: map-get($zindex, modal);
        bottom: 0;
        display: block;
        margin: 0 auto;
        padding: 12px 30px;
        width: 100%;
        box-sizing: border-box;
        background-color: $overlay-bg-color;
    }

    .tlg-lightbox-prev,
    .tlg-lightbox-next,
    .tlg-lightbox-close {
        position: absolute;
        z-index: map-get($zindex, modal);
        display: block;
        width: 24px;
        height: 24px;
        background-color: $overlay-bg-color;
        border: 0;
        border-radius: 2px;
        line-height: 0;
        outline: none;
        padding: 8px 10px 9px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
        }

        & > span {
            @extend %tlg-visually-hidden;
        }
    }

    .tlg-lightbox-next {
        top: 50%;
        transform: translate(0, -50%);
        right: 1.5%;

        &::before {
            transform: rotate(180deg);
            background-image: url('~@/assets/theme/icons/tlg-global-arrow-icon.svg');
        }
    }

    .tlg-lightbox-prev {
        top: 50%;
        transform: translate(0, -50%);
        left: 1.5%;

        &::before {
            background-image: url('~@/assets/theme/icons/tlg-global-arrow-icon.svg');
        }
    }

    .tlg-lightbox-close {
        right: 0;
        padding: 12px;

        &::before {
            background-image: url('~@/assets/theme/icons/tlg-global-close-icon.svg');
        }
    }

    .tlg-lightbox-loader {
        & {
            position: absolute;
            z-index: map-get($zindex, modal);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            display: block;
            height: 15px;
            width: auto;
            box-sizing: border-box;
            text-align: center;
        }
        &.hide {
            display: none;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    position: fixed;
    z-index: map-get($zindex, modal);
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    position: fixed;
    opacity: 0;
    z-index: map-get($zindex, modal);
}

// TODO separate component
.tlg-loader {
    position: relative;
    height: 140px;
    width: 140px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: 140px;
        background-color: #557a95;
        border-radius: 100%;
        animation: grow 2s infinite linear;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: 140px;
        background-color: blue;
        border-radius: 100%;
        animation: grow 2s infinite linear;
        animation-delay: 400ms;
    }

    img {
        display: block;
        height: 140px;
        margin: 0 auto;
        animation: leaf-loader 2s infinite linear;
        z-index: map-get($zindex, modal);
    }
}
@keyframes leaf-loader {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    88%,
    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}
@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    15% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
